
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr--white: hsl(0, 0%, 100%);
    --clr--light-pink: hsl(275, 100%, 97%);
    --clr--grayish-purple: hsl(292, 16%, 49%);
    --clr--dark-purple: hsl(292, 42%, 14%);
}

body {
    background-color: var(--clr--light-pink);
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Work Sans', 'sans-serif';
    min-height: 100vh;
    display: grid;
    place-content: center;
}

img, svg {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 0;
}

button:hover {
    color: purple;
}

.container {
    background-color: var(--clr--white);
    max-width: 800px;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
}

.faq-header {
    display: flex;
    gap: 2rem;
}

.faq-header h1 {
    font-size: 4rem;
    font-weight: 700;
}

.accordion-container .accordion-item:not(:last-child) {
    border-bottom: 2px solid var(--clr--light-pink);
}

.accordion-item .icons img {
    min-width: 30px;
}

.accordion-item .icons .minus-icon {
    display: none;
}

.accordion-description {
    background-color: var(--clr--white);
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease;
}

.accordion-description p {
    color: var(--clr--grayish-purple);
    padding: 1.5rem 0;
}

@media (max-width: 540px) {
    body {
        background-image: url(assets/images/background-pattern-mobile.svg);
    }
}
.attribution { 
    border: 1px solid var(--clr--light-pink);
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }