* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
 }

 body{
    background-color: #F4D04E;
 }
a{
    color: #000;
    text-decoration: none;
}
 #preview-card-container {
    width: 384px;
    height: 565px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px 0px 0px #000;
    padding: 1.2rem;
    margin: 3rem auto;
 }
 .preview-card-img{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .preview-card-img img{
    border-radius: 10px;
 }
 .preview-card-text{
    margin-top: 1.2rem;
    margin-left: 5px;
 }
 .yello-bg{
    background-color:#F4D04E;
    padding: 4px 12px;
    border-radius: 4px;
    width: 90px;
 }
 .published-date{
    font-size: 14px;
    font-weight: 500;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.blog-post-title{
    font-size: 24px;
    font-weight: 800;
    margin-top: .7rem;
    margin-bottom: 1rem;
}
.preview-text{
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 2rem;
}
.blog-post-avatar-container{
    display: flex;
    align-items: center;
}
.blog-post-avatar-container h4{
    margin-left: 1rem;
    font-size: 14px;
    font-weight: 800;
}

@media screen and (max-width: 500px) {
    
 #preview-card-container {
    width: 90%;
    margin: 2rem auto;
 }

 .preview-card-img img{
    width: 100%;
 }
}