@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Regular.ttf);
}

:root {
    --clr-soft-orange: hsl(35, 77%, 62%);
    --clr-soft-red: hsl(5, 85%, 63%);
    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-grayish-blue: hsl(236, 13%, 42%);
    --clr-very-dark-blue: hsl(240, 100%, 5%);
    --font-family: 'Inter';
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

.close-btn {
    cursor: pointer;
    display: auto;
}

.close-btn:hover {
    background-color: hsl(0, 2%, 61%);
}

main {
    max-width: 960px;
    margin: 0 auto;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu:hover {
    background-color: hsl(0, 0%, 88%);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

li {
    margin: 10px;
}

.flex-hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.flex-hero img {
    max-width: 100%;
}

.hero-sidenav {
    margin-left: 20px;
    background-color: var(--clr-very-dark-blue);
    color: var(--clr-off-white);
    padding: 15px;
    line-height: 24px;
}

.hero-sidenav p {
    color: var(--clr-grayish-blue);
    border-bottom: 0.5px solid var(--clr-dark-grayish-blue);
    padding-bottom: 10px;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-p {
    width: 50%;
}

.web-heading h2{
    font-size: 45px;
    font-weight: 700;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 14px 25px;
    width: 250px;
    color: var(--clr-off-white);
    background-color: var(--clr-soft-red);
    font-size: 16px;
    letter-spacing: 3px;
}

.hero-sidenav h3 {
    color: var(--clr-soft-orange);
    font-size: 30px;
}

section {
    display: flex;
    margin-top: 20px;
}

section img {
    width: 100px;
    margin-right: 10px;
}

section .card {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.num {
    color: var(--clr-grayish-blue);
    opacity: 0.5;
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;
}

section h4 {
    margin: 0;
    line-height: 30px;
}

.lock {
    overflow: hidden;
}

.backdrop {
    display: flex;
}

@media (min-width: 961px) {
    .backdrop {
        display: flex !important; 
    }
}

@media (max-width: 960px) {
    .close-button {
        display: block;
    }
    
    body {
        overflow-x: hidden;
    }

    .backdrop {
       display: none;
    }

    nav {
        display: flex;
        margin-bottom: 20px;
    }

    .flex-hero {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    section.cards {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .hero-text {
        display: block;
    }
    
    .hero-sidenav {
        margin: 0;
    }

    main {
        width: 100%;
    }

    section .card {
        width: 100px;
    }

    .flex-heading {
        font-size: 20px;
    }

    .break {
        display: none;
    }

    button {
        margin-bottom: 10px;
    }

    .section-text {
        margin-left: 20px;
    }

    .nav-links {
        width: 200px;
        display: flex;
        flex-direction: column;
        height: 700px;
        position: absolute;
        top: -15px;
        right: 0;
        opacity: 1;
        background-color: var(--clr-off-white);
    }

    .menu {
        display: block;
        object-fit: contain;
        margin-right: 40px;
        width: 50px;
    }

    .nav-link {
        margin: 20px;
    }

    .close-btn {
        width: 30px;
    }

    .backdrop.show {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}








